# gradle
.gradle/
.settings/
bin/
build/
.classpath
.project
*.launch

# do not commit decompiled sources, that's against the EULA of Minecraft
minecraft-decompiled-sources/

# all under run/ except test cfg, test
run/*
!run/config/
run/config/*
!run/config/*.cfg

# from scripts (now under src/)
src/raw api instruction.json

release/

# custom
# please add your custom gitignored files/directories to .git/info/exclude
#
# if you find that there are common files/directories introduced by the build system,
# the platform, the IDE, or any other tool that are often generated, yet not needed
# for a minimal build or have their own usage for other remote repository developers,
# please make a pull request to add them to .gitignore
